[submodule "dotnet"]
	path = CoreCLR
	url = https://github.com/dotnet/runtime
	branch = release/6.0-rc2
[submodule "Tests/Catch"]
	path = Tests/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "pe-parse"]
	path = pe-parse
	url = git@github.com:trailofbits/pe-parse.git
