name: "Maintenance"
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@master"
      - name: Install tools
        run: sudo apt-get -y update && sudo apt-get install -y cppcheck
      - name: C++ code linter (clang-tidy and cppcheck)
        run: cppcheck --language=c++ --template="::{severity} file={file},line={line},col={column}::{message}" src --enable=warning --force